* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: #000;
    width: 100%;
}

/* LINHA VERDE */
.linha-verde {
    width: 100%;
    height: 6px;
    background: #00c853;
}


.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #00c853;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00c853;
}

/* HERO */
.hero {
    background: url("../imagens/banner.png") no-repeat center center;
    background-size: contain;
    height: 90vh;
}

/* SEÇÕES */
.conteudo,
.galeria,
.horario,
.mapa,
.servicos {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* TEXTO HOME */
.servicos-texto {
    max-width: 1000px;
    margin: auto;
    line-height: 1.7;
}

/* CARROSSEL */
.carousel {
    max-width: 700px;   
    height: 380px;    
    margin: 40px auto;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}


.carousel-images {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #000;
    flex-shrink: 0;
}

/* SETAS */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    font-size: 28px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover,
.next:hover {
    background: #00c853;
    color: #000;
}

/* SERVIÇOS GRID */
.servicos-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.servico-card {
    background: #111;
    border: 2px solid #00c853;
    padding: 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.servico-card:hover {
    background: #00c853;
    color: #000;
    transform: translateY(-6px);
}

/* MAPA */
iframe {
    width: 100%;
    max-width: 1000px;
    height: 350px;
    border: none;
}

/* REDES */
.social-final {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-final img {
    width: 42px;
}

/* WHATSAPP */
.whatsapp-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #25d366;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.whatsapp-float img {
    width: 38px;
}

/* FOOTER */
footer {
    background: hsl(0, 0%, 0%);
    padding: 2px 2px;
    text-align: center;

}

footer p {
    margin: 1px 1;
    font-size: 14px;
}
/* BOTÃO YOUTUBE */
.youtube-btn {
    padding: 20px 20px;
    text-align: center;
}

.btn-youtube {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s ease;
}

.btn-youtube:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}


/* RESPONSIVO */
@media (max-width: 768px) {
    .hero {
        height: 60vh;
        background-size: contain;
    }

    .header-container {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }
}
